body{
 background-color: #DAD7CD;
}
h1{
    font-family: 'Titulos';
}
li{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
strong{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.Titulo h1{
    padding: 20px 0;
    text-align: center;
    font-size: 2.3em;
}
.Contenedor {
    background-color: #A3B18A ;
    width: 60%;
    margin:  auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(1, 1fr);
}
.header{
    background-color: #344E41;
    padding: 20px;
    border: 5px solid #000;
}
.Contenedor .header{
    grid-column: 1/3;
}

.Contenedor .article h1,
.Contenedor .article p{

    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    color:#DAD7CD;
 text-align: center;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@font-face {
    font-family:'Titulos';
    src: url("Downloads\LiberationSerif-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
  }